@{
    var userLoggedIn = Context.User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HolmesBooking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HolmesBooking.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (userLoggedIn)
            {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-house-fill"></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Services" asp-action="GetAllServices">
                                    <i class="bi bi-card-checklist"></i> Servicios
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Customers" asp-action="GetAllCustomers">
                                    <i class="bi bi-people"></i> Clientes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="FilteredReservations">
                                    <i class="bi bi-calendar-plus"></i> Reservas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="FullCalendar">
                                    <i class="bi bi-calendar4-event"></i> Calendario
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-2">
                            <li class="nav-item">
                                <a class="nav-link" id="notificationsToggle" data-bs-toggle="modal" data-bs-target="#notificationsModal">
                                    <i class="bi bi-bell-fill"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tooltip" data-bs-title="Cerrar Sesión" asp-controller="Users" asp-action="Logout">
                                    <i class="bi bi-box-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            }
    </header>

    <div class="modal fade" id="notificationsModal" role="dialog" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationsModalLabel">Notificaciones</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="notificationContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HolmesBrewery
        </div>
    </footer>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var notificationMessage = '@(TempData["NotificationMessage"] as string)';

        if (notificationMessage) {
            var notificationsIcon = document.getElementById('notificationsToggle');
            notificationsIcon.classList.add('show-alert');

            document.getElementById('notificationContent').textContent = notificationMessage;

            var notificationsModal = new bootstrap.Modal(document.getElementById('notificationsModal'));
            notificationsModal.show();

            if (Notification.permission === 'granted') {
                showNotification(notificationMessage);
            } else if (Notification.permission !== 'denied') {
                Notification.requestPermission(function (permission) {
                    if (permission === 'granted') {
                        showNotification(notificationMessage);
                    }
                });
            }
        }

        function showNotification(message) {
            var options = {
                body: message,
                icon: 'notification_icon.png'
            };

            var notification = new Notification('Notificación', options);
        }
    });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




