html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color:floralwhite;
    background-image: url("./holmesFondo1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control {
    margin-bottom:10px;
}

@media (max-width: 767px) {
    .left-panel {
        width: 100%;
        padding: 10px;
    }

    #datepicker {
        width: 100%;
        height: 200px;
        margin-top: 10px;
    }
}

.accordion-button {
    background-color: initial;
}

    .accordion-button:not(.collapsed) {
        color: black;
        background-color: lightgray;
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
    }