@model List<Service>

<h2>All Services</h2>

<table class="table">
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Service Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>@service.Id</td>
                <td>
                    <a href="@Url.Action("EditService", "Services", new { id = service.Id })">Edit</a>
                    <a asp-action="DeleteService" asp-route-id="@service.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateService">Create New Service</a>




