@model List<Service>

<h2>Servicios</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Activo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>
                    <input type="checkbox" readonly="readonly" @(service.IsActive ? "checked" : "") />
                </td>
                <td>
                    <a href="@Url.Action("EditService", "Services", new { id = service.Id })">Edit</a>
                    <a asp-action="DeleteService" asp-route-id="@service.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="CreateNewService" class="btn btn-primary">
        <i class="bi bi-plus"></i> Crear nuevo servicio
 </a>




