@model Customer

<h2>Editar Cliente</h2>

<form asp-action="SaveCustomer" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Lastname">Lastname</label>
        <input class="form-control" asp-for="Lastname" required />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input class="form-control" asp-for="Email" type="email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Phone Number</label>
        <input class="form-control" asp-for="PhoneNumber" required />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Classification">Classification</label>
        <select class="form-control" asp-for="Classification">
            @foreach (var value in Enum.GetValues(typeof(Classification)))
            {
                <option value="@value" selected="@value.Equals(Model.Classification)">@value</option>
            }
        </select>
    </div>

    <button type="submit" class="mt-3 btn btn-primary active">Guardar Cambios</button>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
