<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h3>Actualizar Contraseña</h3>
            <form id="updatePasswordForm">
                <div class="mb-3">
                    <label for="password">Nueva Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div class="invalid-feedback">
                        La contraseña es requerida.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword">Confirmar Contraseña:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    <div class="invalid-feedback">
                        Las contraseñas no coinciden.
                    </div>
                </div>
                <input type="hidden" id="customerId" value="@Model" name="id" />

                <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="successModalLabel">Éxito</h1>
                <i class="bi bi-check-circle" style="font-size: 2rem; color: green;"></i>
            </div>
            <div class="modal-body btn-success">
                Contraseña actualizada correctamente.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="redirectAfterSuccess()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>document.getElementById("updatePasswordForm").onsubmit = function (event) {
            event.preventDefault();
            const form = event.target;

            const password = form.elements.password.value;
            const confirmPassword = form.elements.confirmPassword.value;
            if (password !== confirmPassword) {
                form.elements.confirmPassword.classList.add("is-invalid");
                return;
            }

            const customerId = document.getElementById("customerId").value;
            fetch(`/update-passwrord/${customerId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `password=${encodeURIComponent(password)}`
            })
                .then(response => {
                    if (response.ok) {
                        showSuccessModal();
                    } else {
                        response.text().then(errorMessage => {
                            alert(errorMessage);
                        });
                    }
                })
                .catch(error => {
                    console.error('Error al enviar la solicitud:', error);
                });
        };
        function showSuccessModal() {
            $('#successModal').modal('show');
        }
        function redirectAfterSuccess() {
            $('#successModal').modal('hide');

            setTimeout(function () {
                window.location.href = "http://client.holmesbooking.com/";
            }, 1000);
        }</script>
}


